body {
  font-size: 16px;
  color: #fff;
  background-color: #32CD32;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/1/005/08a/0f9/1aa0f7c.jpg') no-repeat;
  width: 200px;
  height: 200px;
  margin: 10px 15px 10px -70px;
}

#Rutgers-img {
  background: url('https://nextgengolf.org/ruploads/team/logo/129/logo2.png') no-repeat;
  width: 300px;
  height:300px;
  margin: -130px 15px 10px -130px;
  transform:scale(0.1);
    -ms-transform:scale(0.1); /* IE 9 */
    -moz-transform:scale(0.1); /* Firefox */
    -webkit-transform:scale(0.1); /* Safari and Chrome */
    -o-transform:scale(0.1); /* Opera */
    overflow: auto;
}

.navbar-brand {
  padding-top: 25px;
}

.degree{
	padding-top:5px;
	margin-top: 10px;
}

.navbar-brand h1 { /* My name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 2.em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* degree */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: -80px;
  padding-right: 0px; 
  margin-right: -105px;
  font-size: 1.4em;

}
#nav-list a {
  color: #951C49;
  text-align: right;
}
#nav-list a:hover {
  background: #FF7435;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header {
	padding-left: -100px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -20px;
}


/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 10px;
  background-color: #000000;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 55px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}

#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/*END FOOTER */



/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/1/005/08a/0f9/1aa0f7c.jpg') no-repeat;
    width: 200px;
    height: 200px;
    transform:scale(0.8);
    -ms-transform:scale(0.8); /* IE 9 */
    -moz-transform:scale(0.8); /* Firefox */
    -webkit-transform:scale(0.8); /* Safari and Chrome */
    -o-transform:scale(0.8); /* Opera */
    overflow: auto;
    margin: 5px 5px 5px 0;
  }
  /* End Header */
}

/********** Small devices only **********/
/*@media (min-width: 768px) and (max-width: 991px) {

}

/********** small and Extra small devices only **********/
@media (max-width: 991px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* My name yazhong wang */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .degree { /* degree */
    font-size: 2vw;
    margin-top: 12px;
  }
 
 #nav-list
 {
 	font-size:1.5vw;
 	margin-top:50px;
 }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  /* End Header */

}



  #menu-tile, #specials-tile, #map-tile {
  height: 175px;
  width: 80%;
  margin-bottom: 15px;
  margin-left: 35px;
  margin-right: 20px;
  padding-right: 20px;
  position: relative;
  text-align: center
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile {
  background: url('../images/menu-tile.jpg') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('../images/publications.jpg') no-repeat;
  background-position: center;
  -webkit-background-size: 123% auto;
  -moz-background-size: 123% auto;
  -ms-background-size: 123% auto;
  -o-background-size: 123% auto;
  background-size: 123% auto;
}

#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}


  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
 



/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }
}





/* social media footer start*/

@import '//codepen.io/chrisdothtml/pen/ojLzJK.css';
.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
          transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 100%;
  left: -110%;
}
.social-btns .btn .fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.social-btns .btn.facebook:before {
  background-color: #3b5998;
}
.social-btns .btn.facebook .fa {
  color: #3b5998;
}
.social-btns .btn.twitter:before {
  background-color: #3cf;
}
.social-btns .btn.twitter .fa {
  color: #3cf;
}
.social-btns .btn.google:before {
  background-color: #dc4a38;
}
.social-btns .btn.google .fa {
  color: #dc4a38;
}
.social-btns .btn.LinkedIn:before {
  background-color: #f26798;
}
.social-btns .btn.LinkedIn .fa {
  color: #f26798;
}
.social-btns .btn.skype:before {
  background-color: #00aff0;
}
.social-btns .btn.skype .fa {
  color: #00aff0;
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.social-btns {
  height: -680px;
  margin-top: 30px;
  
  font-size: 0;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 50px;
  height: 50px;
  line-height: 30px;
  margin-top:90px;
  margin-right:20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.social-btns .btn .fa {
  font-size: 38px;
  vertical-align: middle;
}

/*social media footer end*/
